<img src="{{ album.album_logo}}">
<h1>{{album.album_title}}</h1>
<h2>{{album.artist}}</h2>


{% if error_message %}
  <h1><strong>{{ error_message }}</strong></h1>
{% endif %}

<!-- action is which url you want to send data to -->
<form action="{% url 'music:favorite' album.id %}" method="post">
  {% csrf_token %}
  {% for song in album.song_set.all %}
    <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
    <label for="song{{ forloop.counter }}">
      {{ song.song_title }}
      {% if song.is_favorite %}
        <img src="https://confluence.atlassian.com/s/en_GB/6220/de9b463eb65c5ca13c0266eed77e2bf49f4c6fe8.27/_/images/icons/emoticons/star_yellow.png"/>
      {% endif %}
    </label><br>
 <!-- lesson 23 -->
 <!--    forloop.counter auto increments song id -->

  {% endfor %}
  <input type="submit" value="fave">
</form>

<!-- <ul>
  {%for song in album.song_set.all %}
    <li>{{ song.song_title }} - {{ song.file_type }}</li>
  {% endfor %}
</ul> -->
