body{
  background: white url("images/ignasi.png");
  font-family: 'Shadows Into Light', cursive;

}

.navbar{
  border-radius: 0;
}

/*.navbar-brand{
  font-family: 'Shadows Into Light', cursive;
}
*/
